.btn-agregar{
    padding: .2rem .75rem;
    border-radius: .25rem;
    background-color: #322828;
    color: #fff;
    transition: background-color .15s ease-in-out;
}

.btn{
    padding: .2rem .75rem;
    border-radius: .25rem;
    background-color: #322828;
    color: #fff;
    transition: background-color .15s ease-in-out;
}